@font-face{font-family:'baby-icons';src:url('../fonts/baby-icons.eot');src:url('../fonts/baby-icons.eot?#iefix') format('embedded-opentype'),url('../fonts/baby-icons.woff') format('woff'),url('../fonts/baby-icons.ttf') format('truetype'),url('../fonts/baby-icons.svg#baby-icons') format('svg');font-weight:normal;font-style:normal;}.icon-baby-teddy,.icon-baby-sippy-cup,.icon-baby-safety-pin,.icon-baby-rattle,.icon-baby-onesie,.icon-baby-mobile,.icon-baby-diaper,.icon-baby-crying,.icon-baby-pacifier,.icon-baby-baby,.icon-baby-bike,.icon-baby-carrier,.icon-baby-bottle,.icon-baby-crib{font-family:'baby-icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;}
.icon-baby-teddy:before{content:"\e000";}
.icon-baby-sippy-cup:before{content:"\e001";}
.icon-baby-safety-pin:before{content:"\e002";}
.icon-baby-rattle:before{content:"\e003";}
.icon-baby-onesie:before{content:"\e004";}
.icon-baby-mobile:before{content:"\e005";}
.icon-baby-diaper:before{content:"\e006";}
.icon-baby-crying:before{content:"\e007";}
.icon-baby-pacifier:before{content:"\e008";}
.icon-baby-baby:before{content:"\e009";}
.icon-baby-bike:before{content:"\e00a";}
.icon-baby-carrier:before{content:"\e00b";}
.icon-baby-bottle:before{content:"\e00c";}
.icon-baby-crib:before{content:"\e00d";}
