body .modal-dialog{width:80%;height:80%;}body .modal-dialog .btn{font-size:20px;min-width:100px;min-height:100px;margin:5px;}body .modal-dialog .btn i{font-size:88px;}
body .modal-dialog .btn-lg{font-size:32px;min-width:160px;min-height:160px;margin:8px;}body .modal-dialog .btn-lg i{font-size:88px;}
