#stats{background-color:#222;}
.gridster>ul{list-style-type:none;}.gridster>ul>li{color:#FFF;font-family:'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;}.gridster>ul>li h1,.gridster>ul>li h2,.gridster>ul>li h3{margin:0;padding:0;text-align:center;}
.gridster>ul>li h1{margin-top:14px;font-size:30px;font-weight:400;color:rgba(255, 255, 255, 0.7);}
.gridster>ul>li h2{text-transform:uppercase;font-size:70px;font-weight:700;}.gridster>ul>li h2 span{font-size:25px;text-transform:none;}
.gridster>ul>li h3{color:rgba(255, 255, 255, 0.7);font-size:22px;}
.gridster>ul>li p{margin:10px;font-size:16px;}
.gridster>ul>li .legend{list-style-type:none;margin:0 0 0 32px;padding:0;}.gridster>ul>li .legend li{float:left;margin-right:22px;}
.gridster>ul>li .last-fed-icon{font-size:270px;display:block;position:absolute;color:rgba(255, 255, 255, 0.2);}
.gridster>ul>li.box-profile{background:#ec663c;}.gridster>ul>li.box-profile>h1{margin-top:4px;margin-bottom:7px;}
.gridster>ul>li.box-profile .status-bars{width:350px;}.gridster>ul>li.box-profile .status-bars .progress{margin-bottom:10px;}
.gridster>ul>li.box-profile .info{width:130px;}.gridster>ul>li.box-profile .info img{display:block;margin:0 auto;}
.gridster>ul>li.box-profile .info h1{font-size:20px;margin:0 15px;}
.gridster>ul>li.box-diaper-chart{background:#47bbb3;}
.gridster>ul>li.box-diaper-stats{background:#9c4274;}.gridster>ul>li.box-diaper-stats h1{margin-top:32px;}
.gridster>ul>li.box-feed-time{background:#12b0c5;}.gridster>ul>li.box-feed-time h2{font-size:55px;}
.gridster>ul>li.box-last-fed{background:#dc5945;}
.gridster>ul>li.box-day-chart{background:#ff9618;}.gridster>ul>li.box-day-chart .legend{margin:0 0 10px 15px;}
.gridster>ul>li.box-day-chart .progress{margin:0 12px;position:relative;}.gridster>ul>li.box-day-chart .progress .progress-bar{cursor:pointer;position:absolute;top:0;}
.gridster>ul>li.box-day-chart .chart-description strong{display:block;}
.gridster>ul>li.box-info{background:#4b4b4b;}.gridster>ul>li.box-info a:link,.gridster>ul>li.box-info a:visited{color:#FFF;margin-right:20px;}
.gridster>ul>li.box-info a:hover{color:#999;text-decoration:none;}
