@font-face {
  font-family: 'baby-icons';
  src: url('../fonts/baby-icons.eot');
  src: url('../fonts/baby-icons.eot?#iefix') format('embedded-opentype'), url('../fonts/baby-icons.woff') format('woff'), url('../fonts/baby-icons.ttf') format('truetype'), url('../fonts/baby-icons.svg#baby-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-baby-teddy,
.icon-baby-sippy-cup,
.icon-baby-safety-pin,
.icon-baby-rattle,
.icon-baby-onesie,
.icon-baby-mobile,
.icon-baby-diaper,
.icon-baby-crying,
.icon-baby-pacifier,
.icon-baby-baby,
.icon-baby-bike,
.icon-baby-carrier,
.icon-baby-bottle,
.icon-baby-crib {
  font-family: 'baby-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-baby-teddy:before {
  content: "\e000";
}
.icon-baby-sippy-cup:before {
  content: "\e001";
}
.icon-baby-safety-pin:before {
  content: "\e002";
}
.icon-baby-rattle:before {
  content: "\e003";
}
.icon-baby-onesie:before {
  content: "\e004";
}
.icon-baby-mobile:before {
  content: "\e005";
}
.icon-baby-diaper:before {
  content: "\e006";
}
.icon-baby-crying:before {
  content: "\e007";
}
.icon-baby-pacifier:before {
  content: "\e008";
}
.icon-baby-baby:before {
  content: "\e009";
}
.icon-baby-bike:before {
  content: "\e00a";
}
.icon-baby-carrier:before {
  content: "\e00b";
}
.icon-baby-bottle:before {
  content: "\e00c";
}
.icon-baby-crib:before {
  content: "\e00d";
}
#dashboard {
  text-align: center;
}
@media only screen and (max-width: 480px) {
  #dashboard h1 {
    font-size: 24px;
    padding-top: 20px;
  }
}
#dashboard h1 span {
  color: #FF3D7F;
}
#dashboard .primary-events button {
  font-size: 40px;
  width: 200px;
  height: 200px;
  margin: 5px;
}
#dashboard .primary-events button.long-text {
  line-height: 30px;
}
#dashboard .primary-events button i {
  font-size: 110px !important;
}
@media only screen and (max-width: 480px) {
  #dashboard .primary-events button {
    font-size: 15px;
    width: 100px;
    height: 100px;
    margin: 2.5px;
    padding: 0;
  }
  #dashboard .primary-events button i {
    font-size: 55px !important;
  }
}
#dashboard .secondary-events button {
  font-size: 15px;
  width: 100px;
  height: 100px;
  margin: 2.5px;
  padding: 0;
}
#dashboard .secondary-events button i {
  font-size: 55px !important;
}
@media only screen and (max-width: 480px) {
  #dashboard .secondary-events button {
    font-size: 9px;
    width: 60px;
    height: 60px;
    margin: 1.5px;
    padding: 0;
  }
  #dashboard .secondary-events button i {
    font-size: 33px !important;
  }
}
#dashboard button {
  position: relative;
  text-shadow: none;
}
#dashboard button .badge {
  position: absolute;
  left: 5px;
  top: 177px;
}
@media only screen and (max-width: 480px) {
  #dashboard button .badge {
    left: 0px;
    top: 83px;
    font-size: 9px;
    padding: 3px;
  }
}
#dashboard button i {
  display: block;
}
#feedModal .feed-types {
  margin-bottom: 20px;
}
#feedModal .feed-types button span,
#feedModal .bottle-options button span {
  display: block;
}
/* Based on: http://jsfiddle.net/girlie_mac/gFKxW/ */
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fall {
  from {
    top: 5%;
  }
  to {
    top: 70%;
  }
}
@-webkit-keyframes accumulate {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 20px;
    opacity: .75;
  }
}
@-webkit-keyframes sleepspin {
  0% {
    -webkit-transform: rotate(-60deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotate(60deg) translate3d(10px, 75px, 0);
  }
}
.sleep {
  -webkit-transform: translate3d(0, 0, 0);
  position: absolute;
  top: -40px;
  -webkit-animation-name: fall, fade, sleepspin;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in;
}
.sleep {
  color: #333;
  font-size: 2em;
  position: absolute;
}
.sleep:first-child {
  left: 10%;
  -webkit-animation-duration: 5s;
}
.sleep:nth-child(2) {
  font-size: 2.8em;
  left: 20%;
  -webkit-animation-duration: 7s;
}
.sleep:nth-child(3) {
  left: 30%;
  -webkit-animation-duration: 8s;
}
.sleep:nth-child(4) {
  font-size: 3.9em;
  left: 40%;
  -webkit-animation-duration: 6s;
}
.sleep:nth-child(5) {
  left: 50%;
  -webkit-animation-duration: 11s;
}
.sleep:nth-child(6) {
  font-size: 2.8em;
  left: 60%;
  -webkit-animation-duration: 8s;
}
.sleep:nth-child(7) {
  font-size: 3.9em;
  left: 70%;
  -webkit-animation-duration: 6s;
}
.sleep:nth-child(8) {
  font-size: 2.8em;
  left: 80%;
  -webkit-animation-duration: 9s;
}
.sleep:nth-child(9) {
  font-size: 3.9em;
  left: 90%;
  -webkit-animation-duration: 12s;
}
#success-notification,
#error-notification {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  display: none;
  z-index: 1000;
}
#list-button {
  position: absolute !important;
  right: 15px;
  top: 15px;
}
.flip {
  -webkit-perspective: 800;
  width: 100%;
  height: 100%;
  position: relative;
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 1.0s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  background: #FFF;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
#dashboard .modal-dialog {
  width: 80%;
}
#dashboard .modal-dialog .btn {
  font-size: 15px;
  width: 100px;
  height: 100px;
  margin: 2.5px;
  padding: 0;
}
#dashboard .modal-dialog .btn i {
  font-size: 55px !important;
}
@media only screen and (max-width: 480px) {
  #dashboard .modal-dialog .btn {
    font-size: 9px;
    width: 60px;
    height: 60px;
    margin: 1.5px;
    padding: 0;
  }
  #dashboard .modal-dialog .btn i {
    font-size: 33px !important;
  }
}
#dashboard .modal-dialog .btn.save {
  width: 450px;
  height: 80px;
  margin-top: 50px;
}
#dashboard .modal-dialog .btn.save i {
  font-size: 55px !important;
  display: inline-block;
}
@media only screen and (max-width: 480px) {
  #dashboard .modal-dialog .btn.save {
    width: 80%;
    height: 60px;
  }
  #dashboard .modal-dialog .btn.save i {
    font-size: 33px !important;
  }
}
#dashboard .modal-dialog .btn-lg {
  font-size: 32px;
  width: 160px;
  height: 160px;
  margin: 4px;
}
#dashboard .modal-dialog .btn-lg.long-text {
  line-height: 30px;
}
#dashboard .modal-dialog .btn-lg i {
  font-size: 88px !important;
}
@media only screen and (max-width: 480px) {
  #dashboard .modal-dialog .btn-lg {
    font-size: 15px;
    width: 100px;
    height: 100px;
    margin: 2.5px;
    padding: 0;
  }
  #dashboard .modal-dialog .btn-lg i {
    font-size: 55px !important;
  }
}
#dashboard .modal-dialog .spinner {
  position: relative;
}
#dashboard .modal-dialog .spinner .amount {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 180px;
  font-size: 60px;
  margin: 5px;
  text-align: center;
}
#dashboard .modal-dialog .spinner .unit {
  display: block;
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  #dashboard .modal-dialog .spinner .unit {
    bottom: 0;
  }
}
#stats {
  background-color: #222;
}
/*
	Layout and colors are kindly inspired by Shopify's awesome Dashing dashboard
	http://shopify.github.io/dashing/
*/
.gridster > ul {
  list-style-type: none;
}
.gridster > ul > li {
  color: #FFF;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.gridster > ul > li h1,
.gridster > ul > li h2,
.gridster > ul > li h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.gridster > ul > li h1 {
  margin-top: 14px;
  font-size: 30px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
.gridster > ul > li h2 {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 700;
}
.gridster > ul > li h2 span {
  font-size: 25px;
  text-transform: none;
}
.gridster > ul > li h3 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
}
.gridster > ul > li p {
  margin: 10px;
  font-size: 16px;
}
.gridster > ul > li .legend {
  list-style-type: none;
  margin: 0 0 0 32px;
  padding: 0;
}
.gridster > ul > li .legend li {
  float: left;
  margin-right: 22px;
}
.gridster > ul > li .last-fed-icon {
  font-size: 270px;
  display: block;
  position: absolute;
  color: rgba(255, 255, 255, 0.2);
}
.gridster > ul > li.box-profile {
  background: #ec663c;
}
.gridster > ul > li.box-profile > h1 {
  margin-top: 4px;
  margin-bottom: 7px;
}
.gridster > ul > li.box-profile .status-bars {
  width: 350px;
}
.gridster > ul > li.box-profile .status-bars .progress {
  margin-bottom: 10px;
}
.gridster > ul > li.box-profile .info {
  width: 130px;
}
.gridster > ul > li.box-profile .info img {
  display: block;
  margin: 0 auto;
}
.gridster > ul > li.box-profile .info h1 {
  font-size: 20px;
  margin: 0 15px;
}
.gridster > ul > li.box-diaper-chart {
  background: #47bbb3;
}
.gridster > ul > li.box-diaper-stats {
  background: #9c4274;
}
.gridster > ul > li.box-diaper-stats h1 {
  margin-top: 32px;
}
.gridster > ul > li.box-feed-time {
  background: #12b0c5;
}
.gridster > ul > li.box-feed-time h2 {
  font-size: 55px;
}
.gridster > ul > li.box-last-fed {
  background: #dc5945;
}
.gridster > ul > li.box-day-chart {
  background: #ff9618;
}
.gridster > ul > li.box-day-chart .progress {
  position: relative;
}
.gridster > ul > li.box-day-chart .progress .progress-bar {
  cursor: pointer;
  position: absolute;
  top: 0;
}
.gridster > ul > li.box-day-chart .chart-description strong {
  display: block;
}
.gridster > ul > li.box-info {
  background: #4b4b4b;
}
.gridster > ul > li.box-info a:link,
.gridster > ul > li.box-info a:visited {
  color: #FFF;
  margin-right: 20px;
}
.gridster > ul > li.box-info a:hover {
  color: #999;
  text-decoration: none;
}
