@button-size: 10px;
@button-size-small: 5px;
@button-size-tiny: 3px;
@mobile: ~"only screen and (max-width: 480px)";

.button-size-styles (@factor) when (@factor > 5px) {
	font-size: (@factor * 4px);
	width: (@factor * 20px);
	height: (@factor * 20px);
	margin: (@factor * 0.5px);

	i {
		font-size: (@factor * 11px) !important;
	}
}

.button-size-styles (@factor) when (@factor =< 5px) {
	font-size: (@factor * 3px);
	width: (@factor * 20px);
	height: (@factor * 20px);
	margin: (@factor * 0.5px);
	padding: 0;

	i {
		font-size: (@factor * 11px) !important;
	}
}

#dashboard {
	text-align: center;

	h1 {
		@media @mobile {
			font-size: 24px;
			padding-top: 20px;
		}

		span {
			color: #FF3D7F;
		}
	}

	.primary-events {
		button {
			.button-size-styles(@button-size);

			@media @mobile {
				.button-size-styles(@button-size-small);
			}
		}
	}

	.secondary-events {
		button {
			.button-size-styles(@button-size-small);

			@media @mobile {
				.button-size-styles(@button-size-tiny);
			}
		}
	}

	button {
		position: relative;
		text-shadow: none;

		.badge {
			position: absolute;
			left: 5px;
			top: 177px;

			@media @mobile {
				left: 0px;
				top: 83px;
				font-size: 9px;
				padding: 3px;
			}
		}

		i {
			display: block;
		}
	}
}

#feedModal {
	.feed-types {
		margin-bottom: 20px;
	}

	.feed-types, .bottle-options {
		button {
			span {
				display: block;
			}
		}
	}
}