@button-size: 10px;
@button-size-small: 5px;

#dashboard {
	text-align: center;
	width: 100%;
	height: 100%;

	#notification {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	h1 {
		span {
			color: #FF3D7F;
		}
	}

	.primary-events {
		button {
			font-size: (@button-size * 4px);
			width: (@button-size * 20px);
			height: (@button-size * 20px);
			margin: (@button-size * 2px);

			i {
				font-size: (@button-size * 11px);
			}
		}
	}

	.secondary-events {
		button {
			font-size: (@button-size-small * 3px);
			width: (@button-size-small * 20px);
			height: (@button-size-small * 20px);
			margin: (@button-size-small * 2px);

			i {
				font-size: (@button-size-small * 11px);
			}
		}
	}

	button {
		text-shadow: none;

		i {
			display: block;
		}
	}
}

#feedModal {
	.feed-types {
		margin-bottom: 20px;
	}

	.feed-types, .bottle-options {
		button {
			span {
				display: block;
			}
		}
	}
}