#stats {
	background-color: #333;
}

.legend {
	list-style-type: none;

	li {
		float: left;
		margin-right: 8px;
	}
}

.gridster {
	>ul {
		list-style-type: none;

		>li {
			color: #FFF;
			
			&.box1 {
				background: #FA6900;
			}

			&.box2 {
				background: #E0E4CC;
			}

			&.box3 {
				background: #A7DBD8;
			}

			&.box4 {
				background: #F38630;
			}

			&.box5 {
				background: #69D2E7;
			}
		}
	}
}